<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AWContext" connectionString="data source=DESKTOP-IE9DG97;initial catalog=AdventureWorks2017;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>